:root {
  --mirror-frame: 1.5rem;
  --widget-spacing: 1.5rem;
  --monospace-family: 'Fira Code', monospace;
  --off-white: #ccc;
}

html {
  background-color: black;
  color: white;
  font-family: 'Poppins', sans-serif;
}

pre,
code {
  font-family: var(--monospace-family);
}

/*
 * Zones
 */
.zones {
  display: grid;
  height: 100vh;
  grid-template-columns: 300px 1fr 300px;
  grid-template-rows: 6fr 1fr;
}
.zones-left {
  grid-column: 1;
  padding-top: var(--mirror-frame);
  padding-left: var(--mirror-frame);
}
.zones-right {
  grid-column: 3;
  padding-top: var(--mirror-frame);
  padding-right: var(--mirror-frame);
}
.zones-bottom {
  grid-column: 1/-1;
  padding: var(--mirror-frame) 0;
  width: 66%;
  margin: 0 auto;
}

/*
 * Widget List
 */
.widgetList {
}
.widgetList-widget {
}
.widgetList-widget:not(:last-child) {
  margin-bottom: var(--widget-spacing);
}

/*
 * Widget
 */
.widget-chrome {
  border-left: 3px solid white;
  padding-left: 1.5rem;
  line-height: 1;
}
.widget-chrome > :not(:last-child):not(.widget-label) {
  margin-bottom: 0.8rem;
}
.widget-chrome .widget-title {
  margin-left: -0.75rem;
}
.widget-title {
  font-size: 1.8em;
  font-weight: 600;
}
.widget-text {
}
.widget-label {
  font-style: italic;
  font-weight: 600;
}
.widget-heading {
  line-height: 1;
  font-size: 1.5em;
}
.widget-listItem {
  margin-left: 0.66rem;
  margin-bottom: 0.2em;
  font-size: 0.9em;
}
.widget-subHeading {
  font-size: 1.1em;
}

/**
 * Miscellaneous
 */
.github-repository {
  font-family: var(--monospace-family);
  font-weight: 700;
}
.quote-chrome .widget-title {
  text-align: justify;
  font-size: 1.4em;
  line-height: 1.2;
  font-weight: 400;
}
.quote-chrome .widget-text {
  font-size: 1.2em;
  text-align: right;
  color: var(--off-white);
}
.fa-icon:not(first-child) {
  margin-left: 0.3em;
}
.fa-icon:not(last-child) {
  margin-right: 0.3em;
}

.Clock .widget-title {
  font-size: 3rem;
}
