<h1 class="widget-title">{{time}}</h1>
<div class="widget-content">
    <h3>
        <span class="clock-day">{{day}}</span>
        <br>
        <span class="clock-date">{{date}}</span>
    </h3>
</div>
