<h2 class="widget-title"> Good News </h2>
<div class="widget-content">
    <ul>
        <!-- <li class="small-text"> Loading ... </li> -->
        {{#each items}}
            <li> {{this}} </li>
        {{/each}}
    </ul>
</div>
