<h2 class="widget-title"> Spotify </h2>
<div class="widget-content">
    {{#if data}}
        
        <h3> {{#if data.playing}}&#9654;{{else}}&#10073; &#10073; {{/if}} {{data.track}} </h3>
        <p>&dash; {{data.artist}}</p>
        
    {{else}}
        <p> <a href="auth/spotify" class="button"> Please login </a> </p>
    {{/if}}
</div
