<h2 class="widget-title"> Calendar </h2>
<div class="widget-content">
    <table>
        
        {{#if noEvents }}
            <tr><td>No Events</td></tr>
        {{/if}}
        
        {{#each events}}
        
            <tr>
                {{#if isAllDay}}
                    <td align='right'>All Day</td>
                {{else}}
                    <td align='right'>{{formattedDate}}</td>
                {{/if}}
                
                <td> {{summary}} </td>
            </tr>
            
        {{/each}}
        
    </table>
</div>
