
<h2 class="widget-title"> <span class="temperature">{{curTemp}}</span> {{forecast}} </h2>
<div class="widget-content">
    
    <p class="widget-heading">{{location}}</p>
    
    <p>
        H: <span class="temperature">{{maxTemp}}</span>
        L: <span class="temperature">{{minTemp}}</span> 
    </p>
    
    <p>{{description}}</p>
    
    {{#if sunrise}}
        <p>Sunrise at {{sunrise}}</p>
    {{/if}}
    
    {{#if sunset}}
        <p>Sunset at {{sunset}}</p>
    {{/if}}
    
    
</div>
